# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore NetBeans project files
nbproject/private
nbbuild
dist
nbdist
nbactions.xml
nb-configuration.xml

# Ignore IntelliJ IDEA project files
.idea
